body {
    background-color: linear-gradient(to right, rgb(93, 48, 104), rgb(0, 50, 90));
    background-image: url("../StaticLayout/assets/web-bg.jpg");
    background-size: cover;
    min-height: auto;
    color: white;
    font-family: 'Roboto', sans-serif;
}

h2 {
    color: rgb(100, 100, 100);
    letter-spacing: 1px;
}

/* nav alignment */
.nav-left {
    float: left;
    display: flex; /*vertically centers text & images*/
    align-items: center; /*vertically centers text & images*/
    letter-spacing: 2px;
    font-size: 42px;
    font-weight: bold;
}

.nav-right {
    float: right;
}

.container-nav {
    line-height: 50px;
    position: fixed;
    background-color: linear-gradient(to right, rgb(93, 48, 104), rgb(0, 50, 90));
    top: 10px;
    width: 100%;
}

/* images */
#img-logo {    
    max-width: 70px;    
}

#img-laptop {
    max-height: 400px;
    padding-top: 20em;
    /* z-index: 1; */
}

#img-featured {
    height: auto;
    width: 200px; 
    padding: 0 70px 100px;
}


/* paragraph alignment */
#lap-p {
    padding: 1em 15em 1em 15em;
    font-size: 22px;
    line-height: 1.5em;
}

#quote-p {
    color: rgb(46, 46, 46);
    font-size: 20px;
    font-style: italic;
    
}

/* buttons */
/* OPEN KAST btn on navbar */
.kast-btn {
    background-color: transparent;
    text-decoration: none;
    color: white;
    border: 2px solid white;
    border-radius: 5px;
    padding: 5px 10px 5px 10px;
    margin: 0 2em 0 2em;    
    font-size: 1em;
}

/* OPEN KAST btn orange */
.kast2-btn {
    background-color: rgb(255, 151, 14);
    text-decoration: none;
    font-weight: bold;
    letter-spacing: 2px;
    color: white;
    border: 2px solid rgb(255, 151, 14);
    /* border-radius: 5px; */
    padding: 10px 50px 10px 50px;
    margin: 0 2em 0em 2em;    
    font-size: 18px;
}

/* nav dropdowns */

.dropbtn {
    background-color: transparent;
    padding: 20px;
    margin: 0px 5px;
    color: white;
    font-size: 16px;
    border: none;
}

.dropdown {
    background-color: white, 1;
    margin: 0px 9px;
    position: relative;
    display: inline-block;
}

.drop-content {
    display: none;
    position: absolute;    
    margin: 0px 9px;
    background-color: white;
    min-width: 160px;
    /* z-index: 1; */
}

.drop-content a {
    color: darkgray;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.drop-content a:hover {
    background-color: gray;
    text-decoration: underline;
}

.dropdown:hover .drop-content {
    display: block;
    background-color: white;
}

.dropdown:hover .dropbtn {
    background-color: transparent;
}

.nav-link {
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 1px;
}

/* arrow on dropdown*/
.drop-arrow-down {
    border: solid gray;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(45deg);    
}

/* center w/laptop */
.container-center {
    /* align-items: center; */
    display: flex;
    align-items: center;    
}

.center-page {
    text-align: center;
    margin: 0;
    background: transparent;
    padding: auto;
    position: absolute;   
    top: 50%;
    left: 50%;
    margin-top: 100px;
    margin-right: -50%;
    margin-bottom: 10em; 
    transform: translate(-50%, -50%);
}

/* white space with links */
.container-featured {
    align-items: center;
    /* padding-top: 5em; */
}

.link-section2 {
    text-align: center;
    background: white;
    background-size: cover;
    color: black;    
    margin-top: 40em;
    padding: 5em;
    position: absolute;
    top: 50%;
    left: -50%;
    right: -50%;    
}