body {
    background-image: linear-gradient(to right, rgb(93, 48, 104), rgb(0, 50, 90));
    color: white;
    font-family: 'Roboto', sans-serif;
}

h2 {
    color: rgb(100, 100, 100);
    letter-spacing: 1px;
}

/* nav alignment */
.nav-left {
    float: left;
    display: flex; /*vertically centers text & images*/
    align-items: center; /*vertically centers text & images*/
    letter-spacing: 2px;
    font-size: 42px;
    font-weight: bold;
}

.nav-right {
    float: right;
}

.container-nav {
    line-height: 50px;
    position: fixed;
    background-image: linear-gradient(to right, rgb(93, 48, 104), rgb(0, 50, 90));
    top: 10px;
    width: 100%;
}

/* images */
#img-logo {    
    max-width: 70px;    
}

#img-laptop {
    max-height: 400px;
    padding-top: 10em;
}

#img-featured {
    height: auto;
    width: 200px; 
    padding: 0 70px 100px;
}


/* paragraph alignment */
#lap-p {
    padding: 1em 20em 1em 20em;
    font-size: 22px;
    line-height: 1.5em;
}

#quote-p {
    color: rgb(46, 46, 46);
    font-size: 20px;
    font-style: italic;
    
}

/* buttons */
/* OPEN KAST btn on navbar */
.kast-btn {
    background-color: transparent;
    text-decoration: none;
    color: white;
    border: 2px solid white;
    border-radius: 5px;
    padding: 5px 10px 5px 10px;
    margin: 0 2em 0 2em;    
    font-size: 1em;
}

/* nav dropdowns */
.dropdown {
    background-color: white, 1;
    position: relative;
    margin: 0px 9px;
    display: inline-block;
}

.dropbtn {
    background-color: transparent;
    padding: 20px;
    margin: 0px 5px;
    color: white;
    font-size: 16px;
    border: none;
}

.drop-content {
    display: none;
    position: absolute;    
    margin: 0px 9px;
    background-color: white;
    min-width: 160px;
    z-index: 1;
}

.drop-content a {
    color: darkgray;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.drop-content a:hover {
    background-color: gray;
    text-decoration: underline;
}

.dropdown:hover .drop-content {
    display: block;
    background-color: white;
}

.dropdown:hover .dropbtn {
    background-color: transparent;
}

/* arrow on dropdown*/
.drop-arrow-down {
    border: solid gray;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(45deg);    
}

.nav-link {
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 1px;
}

/* center w/laptop */
.container-center {
    align-items: center;
}
.center-page {
    text-align: center;
    margin: 0;
    background: transparent;
    position: absolute;   
    top: 50%;
    left: 50%;    
    margin-top: 100px;
    margin-right: -50%;
    margin-bottom: 10em;
    transform: translate(-50%, -50%);
}

/* white space with links */
.container-featured {
    align-items: center;
}

.link-section2 {
    text-align: center;
    background: white;
    background-size: cover;
    color: black;    
    margin-top: 40em;
    padding: 5em;
    position: absolute;
    top: 50%;
    left: -50%;
    right: -50%;    
}